digitAssignments/verhagen_06/goodMorning.rnc

start = root
root = element xml {source, poem}
source = element source {title, author, date}
title = element title {level,text}
level = attribute level {text}
author = element author {text}
date = element date {when, empty}
when = attribute when {xsd:gYear}
poem = element poem {title, lg+}
lg = element lg {ln+}
ln = element ln {n, text, mixed{placeName*}, mixed{place*}, mixed{motif*}}
n = attribute n {xsd:integer}
placeName = element placeName {ref, text+}
ref = attribute ref {text}
place = element place {ref, text+}
motif = element motif {text}
